
<html>
<style>
#horarios {
    border-width: 1px;
    border-style: solid;
    border-color: blue;
}
.fase {
    border-width: 1px;
    border-style: solid;
    border-color: red;
}
.horario {
    border-width: 1px;
    border-style: solid;
    border-color: green;
}
</style>
    <body>
        <div id="horarios">
            <div class="fase" fase=1>
            <div class="horario" horario=7 dia=1>
                (Empty)
            </div>
            <div class="horario" horario=10 dia=1>
                (Empty)
            </div>
            <div class="horario" horario=7 dia=2>
                (Empty)
            </div>
            </div>

            <div class="fase" fase=1>
            <div class="horario" horario=7 dia=1>
                (Empty)
            </div>
            <div class="horario" horario=10 dia=1>
                (Empty)
            </div>
            <div class="horario" horario=7 dia=2>
                (Empty)
            </div>
            </div>
        </div>

    </body>
</html>
