#main {
    margin-top: 80px;
}

.navbar-brand {
    padding-left: 20px;
}

.schedule-row {
}

.schedule-row table td {
}

.schedule-row table td.clickable {
    cursor: pointer;
    position: relative;
}

.schedule-row table td.clickable:hover {
    cursor: pointer;
    background: #C4F0FF;
}

.schedule-row table td.selected {
    border: dashed #ff0000 2px;
    background: #C2C4FF;
}

.schedule-caption-row {
    margin-bottom: 30px;
}

.schedule-caption-row li {
    float: left;
    width: 32%;
    list-style-type: none;
}

.row-ui-professor-manager {
    display: none;
    text-align: center;
}

.row-ui-professor-manager label {
    margin-left: 10px;
}

.row-ui-professor-manager div.panel i {
    float: left;
    margin: 10px 0 0 40px;
}

.cell-buttons {
    display: none;
    position: absolute;
    right: 5px;
    top: 8px;
}

.cell-buttons i {
    margin-left: 5px;
}

.schedule-table tr {
    max-width: 16.66%;
}

.row-failures div.panel-body ul {
     margin-top: 10px;
}

.row-failures div.panel-body li {
    color: #850000;
    padding-left: 2px;
    padding-top: 5px;
}
